/* CSS Reset */

* {
	margin: 0;
}
body {
	font-family: 'Open Sans';
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
	padding: 0.5rem;

}

nav .nav-logo {
	list-style-type: none;



}

.right-nav {
margin-left: 60%
}
nav .nav {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: inline-block;



}


.tuitt-button {
	background-color: #c2195b;
	border: 0;
	border-radius: 15px;
	color: white;
	text-align: center;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;

}

.apply-button {
		background-color: #c2195b;
	border: 0;
	border-radius: 15px;
	color: white;
	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#bg-image {

	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-repeat: no-repeat;
		background-position: center;

}

.front-bg {
	background: rgba(0, 0, 0, 0.5);
}

.container {
	margin-left: 50%;
	margin-right: 100px;
	color: white;
	height: 50vh;
	text-align: right;
	margin-bottom: 50px;
}
.subtitle {
	font-size: 15px;
}


.title {
	font-family: "Zilla Slab";
	font-size: 50px;
	font-weight: bold;

}
.title-2 {
	font-family: "Zilla Slab";
	text-align: center;
margin-bottom: 50px;
font-weight: bold;}
}
.intro {
	text-align: center;
}
.intro-description {
	text-align: left;
	margin-bottom: 50px;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	margin-bottom: 50px}

.book-button {
	background-color: #336589;
	border-radius: 15px;
	border: 0;
	color: white;
	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;

}

footer {
	text-align: center;
}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;



}