#external {
	color: yellow !important;
}

* {
font-family: "verdana", sans-serif;
font-size: 20px;

}
h1 {
	font-size: 3rem;
}
#sub-header {
	text-transform: uppercase;

}

.text-green {
	background-color: green;
}
li[class="border-blue"] {
border: 2px solid blue;

}

img + ul {list-style-type: none;}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}

img ~ h4 {
	text-align: center;
}

body > section > ul {
	letter-spacing: 10px;
}